__pycache__/
.DS_Store
*.log
*.error.log
*.pid
*.plist
*.pyc
*.pyo
*.pyd

venv/
.venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

.idea/
.vscode/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
.coverage.xml
.coverage.xml.*
.coverage.xml.